/*
Error: File to import not found or unreadable: inc/normalize.
       Load paths:
         /Users/bill/repositories/bllfrnch.github.io/css/scss
         Compass::SpriteImporter
         /Users/bill/repositories/bllfrnch.github.io/css/scss
         /Users/bill/.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets
        on line 1 of /Users/bill/repositories/bllfrnch.github.io/css/scss/style.scss

1: @import "inc/normalize";
2: 
3: // BOURBON
4: @import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
5: @import "../../bower_components/bitters/app/assets/stylesheets/variables";
6: 

Backtrace:
/Users/bill/repositories/bllfrnch.github.io/css/scss/style.scss:1
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/import_node.rb:45:in `import'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/stack.rb:79:in `block in with_base'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/stack.rb:115:in `with_frame'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/stack.rb:79:in `with_base'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/engine.rb:268:in `render'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:209:in `each'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/sass-3.4.12/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/bill/.rvm/gems/ruby-2.1.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/bill/.rvm/gems/ruby-2.1.0/bin/compass:23:in `load'
/Users/bill/.rvm/gems/ruby-2.1.0/bin/compass:23:in `<main>'
/Users/bill/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `eval'
/Users/bill/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: inc/normalize.\A        Load paths:\A          /Users/bill/repositories/bllfrnch.github.io/css/scss\A          Compass::SpriteImporter\A          /Users/bill/repositories/bllfrnch.github.io/css/scss\A          /Users/bill/.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.3/stylesheets\A         on line 1 of /Users/bill/repositories/bllfrnch.github.io/css/scss/style.scss\A \A 1: @import \"inc/normalize\";\A 2: \A 3: // BOURBON\A 4: @import \"../../bower_components/bourbon/app/assets/stylesheets/bourbon\";\A 5: @import \"../../bower_components/bitters/app/assets/stylesheets/variables\";\A 6: "; }
