a {
  text-decoration: none;
}

.page-container {
  @include clearfix;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2em;

  header, main, footer {
    @include omega;
    @include span-columns(12);
  }

  header {
    h1 {
      border-bottom: solid
    }

    .internal-nav, .external-nav {
        display: inline-block;
    }

    .internal-nav {
      float: left;
    }

    .external-nav {
      float: right;
    }

    li {
      display: inline-block;
    }

    .active {
      border-bottom: solid;
    }
  }

  main {
    margin-top: 2em;

    article {
      @include shift(1);
      @include span-columns(10);
      @include media($medium-screen-down) {
        @include shift(0);
        @include span-columns(12);
      }
    }

    .image {
      img {
        border: solid;
        height: 100%;
        width: 100%;
      }
    }
  }

  footer {
    border-top: solid;
    padding: 1em 0;
  }
}