a {
  text-decoration: none;
}

.page-container {
  @include clearfix;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2em;

  header, main, footer {
    @include omega;
    @include span-columns(12);
  }

  header {
    h1 {
      border-bottom: solid
    }

    .internal-nav, .external-nav {
        display: inline-block;
    }

    .internal-nav {
      float: left;
    }

    .external-nav {
      float: right;
    }

    li {
      display: inline-block;
    }
  }

  main {
    background-color: #f6f6f6;
    border-radius: .25em;
    box-shadow: #999 0 2px 6px;
    margin-top: 2em;
    padding: 1em;

    article > div {
      @include clearfix;
      margin-bottom: 1em;
    }

    .image {
      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      // position: relative;

      &:before {
        padding-bottom: 75%;
      }
    }

    .text {
      @include span-columns(6);
      background-color: white;
    }
  }
}