@import "../../../bower_components/neat/app/assets/stylesheets/neat-helpers"; // or "../neat/neat-helpers" when not in Rails
// $visual-grid: true;
$visual-grid-color: #333;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;

$grid-columns: 12;
$max-width: em(1200);

// Neat Breakpoints
$small-screen: em(600);
$medium-screen: em(1000);

$small-screen-up: new-breakpoint(min-width $small-screen);
$medium-screen-up: new-breakpoint(min-width $medium-screen);
$small-screen-down: new-breakpoint(max-width $small-screen);
$medium-screen-down: new-breakpoint(max-width $medium-screen);
