body {
  font-family: "source-sans-pro", sans-serif;
  color: $primary-text-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-header-color;
  a {
    color: $primary-header-color;
  }
}

h2 {
  font-size: 1.25em;
}

a {
  color: $primary-link-color;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: $primary-link-color-hover;
    transition: color 0.2s;
  }
}

header .internal-nav,
header .external-nav {
  a.active {
    color: $primary-link-color-hover;
  }
}

a.huge {
  color: #ec008c;
  font-weight: bold;
}

.small {
  font-size: 0.83em;
}

.tiny {

}


