body {
  font-family: "source-sans-pro", sans-serif;
  color: material-color('grey', '600');
}

h1, h2, h3, h4, h5, h6 {
  color: material-color('blue-grey', '700');
  a {
    color: material-color('blue-grey', '700');
  }
}

h2 {
  font-size: 1.25em;
}

a {
  color: material-color('grey', '600');
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: material-color('orange');
    transition: color 0.2s;
  }
}

header .internal-nav,
header .external-nav {
  a.active {
    color: material-color('orange');
  }
}

a.huge {
  color: #ec008c;
  font-weight: bold;
}

.small {
  font-size: 0.83em;
}

.tiny {

}


