.lightbox {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  &.closed {
    display: none;

    .lightbox-modal {
      opacity: 0;
    }
  }

  &.open {
    display: block;

    .lightbox-modal {
      opacity: 1;
    }
  }

  .lightbox-mask {
    background-color: $lightbox-mask-bg-color;
    bottom: 0;
    left: 0;
    opacity: .6;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
  }

  .lightbox-modal {
    background-color: $white;
    border-radius: 2px;
    bottom: 10vh;
    box-shadow: 0 4px 8px $secondary-shadow-color;
    left: 20vw;
    position: absolute;
    right: 20vw;
    top: 10vh;
    transition: opacity 0.3s ease-in-out;

    > * {
      overflow: hidden;
    }
  }


  .lightbox-header {
    background-color: $tertiary-bg-color;
    overflow: hidden;
    padding: 0.5em 1em;
  }

  .lightbox-close {
    color: $primary-link-color-hover;
    float: right;

    &:hover {
      color: white;
    }
  }

  .lightbox-body {
    bottom: 1em;
    left: 1em;
    position: absolute;
    right: 1em;
    top: 2em;
  }

  .media-wrapper {
    @include clearfix;
    @include shift(1);
    @include span-columns(10);
  }

  .media-image a {
    cursor: default;
  }
}
